# Common
**/node_modules
**/.vscode-test
**/*.vsix
**/yarn.lock
**/package-lock.json

# ROS
**/catkin_ws/build
**/catkin_ws/devel
**/catkin_ws/.catkin_workspace
**/catkin_ws/src/CMakeLists.txt

# Coder
coder/ext
coder/userdata
coder/machindeid
coder/deb/opt
coder/deb.deb
coder/lib
coder/src-gen
coder/gen-webpack.config.js
coder/plugins
coder/ssl-proxy-linux-amd64
coder/certs/*.pem
coder/certs/*.key
coder/certs/*.csr
coder/certs/*.crt
coder/certs/*.srl

# Extension
cloveride/out
