# Common
**/node_modules
**/.vscode-test
**/*.vsix
**/yarn-error.log
**/__pycache__
**/package-lock.json

# ROS
**/catkin_ws/build
**/catkin_ws/devel
**/catkin_ws/.catkin_workspace
**/catkin_ws/src/CMakeLists.txt

# ide
ide/ext
ide/userdata
ide/machindeid
ide/deb/opt
ide/deb.deb
ide/lib
ide/src-gen
ide/gen-webpack.config.js
ide/plugins
ide/main
ide/proxy
ide/ssl-proxy-linux-amd64
ide/certs/*.pem
ide/certs/*.key
ide/certs/*.csr
ide/certs/*.crt
ide/certs/*.srl
ide/out
ide/cloveride
ide.zip

# Extension
cloverExtension/out

# idePlugins
idePlugins/plugins
idePlugins.zip

# ideHttps
ideHttps/certs
ideHttps/main
ideHttps/ideHttps
ideHttpsProxy

# package
package/deb/opt
package/deb.deb
package/deb/usr
advancedClover.deb
