.root {
  display: flex;
  font-size: 2em;
}

.inlineContainer {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.outer {
  border-radius: 3px;
  background: #000;
  border: 1px solid  var(--vscode-panelTitle-activeBorder);
  padding: 3px;
  width: 75px;
  height: 27px;
}

.bump {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color:  var(--vscode-panelTitle-activeBorder);
  margin: 0px;
  width: 5px;
  height: 16px;
}

.level {
  border-radius: 2px;
  background-color: #5d950f;
  height: 27px;
  margin-top: -27px;
}

.voltage {
  font-size: 20px;
  height: 27px;
  text-align: center;
  color: #fff;
  font-family: monospace;
}