.root {
  display: flex;
  font-size: 2em;
}

.inlineContainer {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.outer {
  border-radius: 3px;
  border: 1px solid #fff;
  padding: 3px;
  width: 75px;
  height: 27px;
}

.bump {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #fff;
  margin: 0px;
  width: 5px;
  height: 16px;
}

.level {
  border-radius: 2px;
  background-color: #73ad21;
  /* width: 54px; */
  height: 27px;
}
