.root {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: start;
}

.attitude {
  margin-bottom: 20px;
}

.cords {
  display: flex;
  justify-content: space-around;
}

.fallbackImage {
  width: 320px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}