.root {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--vscode-editorGroupHeader-tabsBackground);
}

.tools {
  display: flex;
  background: var(--vscode-editorGroupHeader-tabsBackground);
  align-items: center;
  padding-right: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tools > * {
  margin-top: 10px;
}

.space {
  width: 30px;
}
.hs {
  height: 70px;
}
@media (max-width: 800px) {
.hs {
  height: 140px;
}
}

.fs {
  flex: 1;
}

.button {
  text-align: center;
  font-size: 1.1em;
  min-width: 50px;
  float: right;
  width: 72px;
}