body {
  font-size: var(--vscode-editor-font-size);
  margin: 5px;
}

button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  padding: 4px 8px;
  outline: none;
  user-select: none;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

input {
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);

  border: none;
  height: 24px;

}

input:focus {
  outline-color: var(--vscode-focusBorder);
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
}
